@import 'variables';

body, html {

	background-color: black;
	color: white;

}

a {
	text-decoration: none;
	color: white;
}

button {
        display: inline-block;
        padding: 10px 20px;
        background-color: black;
        color: white;
        cursor: pointer;
        border: solid #ccc 2px;

}
